.pan {

    background-color: dimgrey;
    color: white;
    height: 50px;
}

.ho {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-inline: 50px;

}

.lo {
    background-color: black;
    color: grey;
    border-radius: 5px;
    float: right;
    text-decoration: none;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
    margin-inline: 15px;
}

.im {
    margin-inline: 300px;
    width: 250px;
    height: 40px;
}

.ed {
    background-color: lightgrey;
    height: 200px;
    width: 100%;
}

.aa{
    text-align: justify;
    border: 1px solid aliceblue ;
    width:100%;
    height: 800px;
    background-color: aliceblue;
    padding: 0px 100px 0px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}